In [ ]:
#프로그램은 변수(var)에 데이터를 저장한다.
#자바의 경우, 변수선언후 값을 넣어준다.
#파이썬은 변수는 문자도 숫자도 아니다... 따라서 숫자를 쓸수없고, 문자열이 될 수 없다. 
#띄어쓰기도하지 못한다.(읽기에서 인식이 안된다. 띄어쓰기를 구분으로 이해하기 때문이다.
#df라는 자료의 열에 df.columns을 통해 컬럼명을 확인해보면 띄어쓰기가 들어가 있을 수 있다.
판다스는 모듈로 클래스이면서 함수이다. pd.함수()
클래스에는 속성과 메소드가 있다.
속성이 있다. 속성이란 품고 있는 데이터를 말한다. 따라서 함수()에서 ()가 필요없다. 
df를 판다스 데이터 프레임으로 만들었으믈호,키값은 컬럼으로, 벨루는 열로 따라서 속성으로 인덱스, 컬럼, 벨루가 있을 것디다.
메소드 

띄어쓰기를 하면 안에 연산자가 있다고 이해한다.

띄어쓰기의 에러는 에러는 구분이 불가능할 때 발생한다. (연산자(대입, 산술)을 통해 구분하게 된다.)

파이썬은 가로가 없어도 튜플이 될 수 있다.기본적인 자료형태가 튜플이다.

pd.read_csv('외부의 로컬폴더에 있는 파일의 이름을 str로 적어줌.')는

In [3]:
import pandas as pd
import numpy as np

In [4]:
# 업데이트 메소드 인덱스(행)이 같아야함.
# update()

origin_df = pd.DataFrame(
                        {'A':['강다솜', '김나영', '이강욱'],  #사람 
                         'B':['A','A','A'],
                         'C':[1,2,3],   
                        }
                        )


update_df = pd.DataFrame(
                        {'A':['강다솜', '김나영', '이강욱'],
                         'B':['A','A','B'],
                         'C':[10,20,30],   
                        }
                        )

In [5]:
origin_df

     A  B  C
0  강다솜  A  1
1  김나영  A  2
2  이강욱  A  3

In [6]:
update_df

     A  B   C
0  강다솜  A  10
1  김나영  A  20
2  이강욱  B  30

In [7]:
origin_df.set_index(['A','B'])

       C
A   B
강다솜 A  1
김나영 A  2
이강욱 A  3

In [8]:
update_df.set_index(['A','B'])

        C
A   B
강다솜 A  10
김나영 A  20
이강욱 B  30

In [11]:
origin_df.set_index(['A','B'], inplace=True)
update_df.set_index(['A','B'], inplace=True)

origin_df.update(update_df)

origin_df

KeyError: "None of ['A', 'B'] are in the columns"

In [ ]:
df.info()  info는 데이터의 크기가 크면 안될 수가 있다.

ㅇㄹ.