In [2]:
#한글 보이게 하도록 고치기

import matplotlib.pyplot as plt
##otf, ttf
plt.rcParams['font.family'] = 'Gulim'

In [4]:
##pandasdhk numpy 설정하기
import pandas as pd
import numpy as np

In [ ]:
##경고창 지우기

In [ ]:
#데이터 불러오기
df=

In [5]:
#데이터 정보보기

In [6]:
#14번째 컬럼 지우기
df=df.iloc[:,:-1]

SyntaxError: invalid syntax (2310248680.py, line 2)

In [ ]:
#행렬숫자보기 shape
df.shape

In [ ]:
#오늘의 목표 : 라인그래프 그리기, 바 차트 그리기

In [ ]:
df.columns

In [ ]:
df.발행년도.value_count()#groupby(~별 ~의 통계수치)도 가능하나, 한개의 컬럼에 대해서 카운트일 땐 value_count가 더 편하다. 
#시리즈 데이터가 된다.
#발행년도가 행, 카운트가 열로 감.

In [ ]:
데이터 프레임으로 df를 바꿈.

new_df = df.발행년도.value_count().reset_index()

In [ ]:
#컬럼이름 바꿔주기

new_df .columns = ['발행년도', '발행부수']

In [ ]:
#이상치 찾는 방법

#1. 앞의 4자리 끊기 (년도 4자리만 사용하도록, 4자리가 숫자가 아니거나(int로 변환되지 않을 때) ,
                    4자리를 숫자로 변환했을 경우 1945 이전이전거랑 2024이후 데이터는 지운다.)

In [ ]:
new_df에 대해 타입 확인

현재 new_df.dtypes  ->object : str대이터이다.

In [8]:
new_df.발행년도[1][:4]

int(new_df.발행년도[1][:4]) ##for문

에러가 나면 빼기

int(new_df.발행년도[1][:4]) >= 1945 & int(new_df.발행년도[1][:4]) <= 2024
 

int(new_df.발행년도[1][:4])>1945 &\
int(new_df.발행년도[1][:4])

NameError: name 'new_df' is not defined

In [ ]:
##pandas series는 딕셔너리로 가져온다.
new_df.발행년도


##EMUNERAte를 써도 되지만, 딕셔너리로 뽑는 것도 좋다.

In [ ]:
##딕셔너리

mp = {
        'K1':1,
        'K2':2,
}


items()설명임.
#KEY

In [ ]:
주제분류번호로 대분류를 나눠보기

new_df
tidy_df = new_df.set_index('주제분류번호')
bar차트는 x,y가 바로 필요하므로 series형으로 바꿀 필요가 없다.

plt.figure(figsize = (10,10))
plt.bar(new_df.주제분류번호, new_df.건수)
plt.title
plt.xlabel
plt.ylabel
for idx,val in zip(new_df.주제분류번호, new_df.건수) :
    plt.annotate(val,())

In [ ]:
# zip
튜플일 때 편함.

a=[1,2,3,]

딕셔너리 만드는 방법
1. 키와 벨루 묶어주기

In [9]:
!dir

 C 드라이브의 볼륨: Windows
 볼륨 일련 번호: EC49-8B27

 C:\work 디렉터리

2023-09-14  오전 10:41    <DIR>          .
2023-09-14  오전 09:12    <DIR>          .ipynb_checkpoints
2023-09-11  오후 05:05            69,210 20230911_KDH.ipynb
2023-09-12  오전 10:07            14,489 20230912_KDH.ipynb
2023-09-13  오후 04:54            39,098 20230913_KDH.ipynb
2023-09-14  오전 10:36             7,970 20230914_KDH.ipynb
2023-09-14  오전 10:41           539,591 hamster.jpg
2023-09-11  오후 01:19        57,639,713 ns_202104.csv
2023-09-14  오전 08:56    <DIR>          teacher
2023-09-11  오후 12:30                75 test.csv
2023-09-12  오전 10:07    <DIR>          Untitled Folder
               7개 파일          58,310,146 바이트
               4개 디렉터리  417,048,915,968 바이트 남음

In [10]:
img = plt.imread('hamster.jpg')

In [12]:
img.shape  # 이미지는 4차원이라고 표현

(756, 800, 3)

In [ ]:
##출판사별 년도별 발행부수의 산점도 그리기

In [ ]:
new_df[['출판사', '발행년도']]

new_df = new_df[['출판사', '발행년도']].value_counts.reset